<footer class="wdt_100">
	<div class="mid_cnt">
		<div class="ftr_wdt1">
			<h6>Site Navigation</h6>
			<ul>                
				<li><a href="#">Home</a></li>                    
				<li><a href="#">About Us</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Offers</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
				
		<div class="ftr_wdt1">
			<h6>Custom Gallery</h6>
			<ul>     
				<li><a href="#">Gallery 1</a></li>                    
				<li><a href="#">Gallery 2</a></li>
				<li><a href="#">Gallery 3</a></li>
				<li><a href="#">Gallery 4</a></li>
			</ul>
		</div>
				
		<div class="ftr_wdt1">
			<h6>Contact Us</h6>
			<ul>                
				<li>Address: Karanpur, Budaun</li>                    
				<li>Phone: +91 844 773 7843</li>
				<li>Email: akhtarl038@gmail.com</li>
			</ul>
		</div>
				
		<div class="ftr_wdt1 ftr_wdt2">
			<h6>Follow Us</h6>
			<div class="ftr_social_icon">
				<a href="#" class="tw_icon"></a>
				<a href="#" class="fb_icon"></a>
				<a href="#" class="gplus_icon"></a>
			</div>
		</div>
				
				
		<div class="ftr_btm wdt_100">
			Copyright 2016 | Privacy Policy
		</div>
				
	</div>		
</footer>
