<div class=" wdt_100">
  <div class="mid_cnt">
    <ul class="breadcum">
      <li><a href="/">Home</a> &nbsp; > &nbsp;</li>
      <li>Products</li>
    </ul>
    <div class='text-right clear'>
      <%if current_admin_user.present?%>
        <%= link_to 'Add Product', new_product_path, class: 'btn btn-default'%>
      <%end%>
    </div>
  </div>
</div>

<div class=" wdt_100 pad_60">
  <div class="mid_cnt">
    <ul class="prd_list lists">
      <% @products.each do |product|%>
        <%= render "product_row", product: product, order_item: @order_item %>
      <%end%>
    </ul>
  </div>
</div>
