<div class=" wdt_100">
  <div class="mid_cnt">
    <ul class="breadcum">
      <li><a href="/">Home</a> &nbsp; > &nbsp;</li>
      <li>Products &nbsp; > &nbsp;</li>
      <li>New</li>
    </ul>
  </div>
</div>

<div class=" wdt_100">
  <div class="mid_cnt">
		<h1>New Product</h1>

		<%= render 'form', product: @product %>

		<%= link_to 'Back', products_path %>
	</div>
</div>
